body, html{
    height: 91%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}
.quiz, .index-container{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    overflow: hidden;
}
.answer, .question, .category{
    text-align: center;
    height: 20%;
    margin: 0;
    
}
.title{
    height: 20%;
}
.title h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
   
  }

  .category{
    margin-left:0;
    animation: slidein 5s ;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:100%;}
      80% {opacity:1;}
      100% {opacity:0;width:100%;}
  }

.categories{
    height: 100%;
}

.category{
    display: flex;
    width: 100%;
    height: 17vh;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;


}

#stats{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#score, #counter{
    
    color: gray;
    font-size: 1.6rem;
    align-self: center;
    margin-left: 20px;
}
#backHome{
    
    height: 20%;
    margin-left: 20px;
}
img{
    height: 100%;
    opacity: 50%;
}
.question, .title{
    width: 90%;
    align-self: center;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: gray;
    font-size: 1.4rem;
}

.answer, .category{
    box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
        inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    border: 0;
}
.answer:hover, .category:hover{
    box-shadow:  4px 4px 10px -1px rgba(0, 0, 0, 0.15),
         -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}

.answer1, .category1{
    background-color: #118ab2;
}
.answer2, .category2{
    background-color: #06d6a0;
}
.answer3, .category3{
    background-color: #ffd166;
}
.answer4, .category4{
    background-color:#ef476f ;
}

/******************** MEDIA QUERIES *************/

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        
    form{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    width: 100%;
   }
   
   .quiz{
       height: 70%;
       width: 95%;
       margin: auto;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-evenly;
       
    }
    .title{
        font-size: 1.5rem;
        align-items: flex-end;
    }
    
    .question{
        height: 50%;
        width: 93%;
        font-size: 1.4rem;
    }
    .answer, .category{
        width: 45%;
        font-size: 1.4rem;
        border-radius: 0.5em;
        
    }
}

@media screen and (min-device-width: 1024px){
    
    form{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        width: 100%;
    }

    .title{
        font-size: 1.5rem;
        align-items: center;
    }

    .quiz{
        height: 70%;

        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .question{
        height: 50%;
        width: 100%;
        font-size: 1.5rem;
    }
    .answer, .category{
        width: 45%;
        font-size: 1.6rem;
        border-radius: 0.5em;
       
    }
}
