body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E9D8A6;
}
.quiz{
    height: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    font-size: large;
}
.answer, .question{
    height: 20%;
    width: 100%;
    padding: 0;
    margin: 0;
    
}

#counter{
    height: 10%;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 2rem;
}
.question{
    background-color: #E9D8A6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: gray;
    font-size: 1.5rem;
}
    
.answer{
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        font-size: 1.4rem;
      }
.answer:hover {
        box-shadow: 0 0 10px 10px #f5f5f5 inset;
      }

.answer1{
    background-color: #EE9B00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer2{
    background-color: #94D2BD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer3{
    background-color: #0A9396;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer4{
    background-color:#005F73 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}

/******************** MEDIA QUERIES *************/

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
        
    .quiz{
        height: 70%;
        width: 95%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

    }
    .question{
        height: 50%;
        width: 93%;
        font-size: 1.7rem;
    }
    .answer{
        width: 45%;
        font-size: 1.6rem;
       
    }
}

@media screen and (min-device-width: 1024px){
    
    .quiz{
        height: 70%;
        width: 70%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    
    }
    .question{
        height: 50%;
        width: 93%;
        font-size: 1.8rem;
    }
    .answer{
        width: 45%;
        font-size: 1.7rem;
       
    }
}
